* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#app {
    height: 100vh;
    background-color: black;
    overflow: hidden;
}

.content {
    min-width: 900px;
}

.debug {
    border: solid 1px white
}

